
/*common characteristics for page set in body*/
body {
  font-family: Helvetica;
  text-align: center;
}
/*section to handle hero title unique characteristics*/
#hero-title {
    font-size: 70px;
    font-weight: bold;
    color: white
}
/*link element specific formatting applied here*/

a {
  color: white;
  font-size: 18px;
}
ul {
list-style: none;
}

/*set image container for hero image*/
.hero-image {
  background-image: url("../images/the-flatiron-building.png");
}


#design-ny {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#process-header {
  font-size: 32px;
  font-weight: bold;
}

.step {
  font-size: 23px;
  font-weight: bold;
}
.explain {
  font-size:14px;

}

#footer {
  background-color: dimgray;
  text-align: left;

}

.copyright {
  color: white;
  font-size: 11px;
}
